*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); 

body{
	background: #F7F7F7;
}
.font-inter{
	font-family: 'Inter', sans-serif;
}
.container{
	width: 100%;
	max-width: 1210px;
	padding: 0px 20px;
	margin: 0 auto;
}

.call-to-action{
	position: fixed;
	right: 0px;
	bottom: 0px;
	font-family: 'Inter', sans-serif;
	background: #0071E3;
	font-weight: 500;
	color: #fff;
	font-size: 20px;
	padding: 10px 25px;
	border-radius: 3px;
	font-size: 18px;
	margin: 20px 20px;
	display: none;
}
.call-to-action:hover{
	background: #0060C0;
	transition: 100ms linear;
}

.nav-bar{
	padding: 9px 0px ;
	background: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(25px);
	border-bottom: 1px solid #D6D6D6;
	position: fixed;
	width: 100%;
}
.nav-bar__container{
	display: flex;
}
.nav-bar__parsonal-info{
	display: flex;
}
.parsonal-info__parsonal-image{
	width: 39px;
	height: 39px;
}
.parsonal-image__image{
	width: 100%;
}
.parsonal-info__parsonal-info{
	display: flex;
	flex-direction: column;

	font-family: 'Inter', sans-serif;
	font-weight: 600;
	line-height: 15px;
	justify-content: center;
	margin-left: 6px;
	font-size: 12px;
}
.parsonal-info__name{

}
.parsonal-info__specialization{
	color: rgba(0, 0, 0, 0.6);
}

.padding{
	width: 100%;
	height: 58px;
	background: #fff;
}

.warning{
	padding: 18px 0px 18px 0px;
	background: #FCFCFC;
	width: 100%;
}
.warning__container{
	display: flex;
	justify-content: center;
	text-align: center;
}
.warning__text{
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #939393;
	font-family: 'Inter', sans-serif;}

.body{
	margin: 30px 0px 30px 0px;
	height: 80%;
}
.body__container{
	max-width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.controller-container{
	display: flex;
	justify-content: flex-end;
	margin: 0px 0px 20px 0px;
	width: 100%;
}
.controller-button{
	background: #fff;
	width: 35px;
	padding: 7px;
	margin-left: 10px;
	border-radius: 2px;
	transition: 50ms linear;
}
.controller-button:hover{
	background: #FCFCFC;
}
.controller-button img{
	width: 100%;
}

.signature-container{
	display: flex;
	justify-content: center;
	width: 620px;
	background: #fff;
	transition: 1s;

}
.fotter__container{
	display: flex;
	justify-content: center;
}


.fotter{
	padding: 50px 0px;
	background: #F4F4F4;
}
.fotter-container{
	display: flex;
	justify-content: center;
}
.signature{
	width: 500px;
	background: #fff;
	padding: 20px;
	border-radius: 6px;
}

.signature__personal-info{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.signature__personal-info img{
	width: 42px;
	border-radius: 6px;
}
.signature__personal-text{
	margin-left: 10px;
}
.personal-text__name{
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	font-size: 21px;
	line-height: 17px;
	margin-bottom: 4px;
}
.personal-text__specialization{
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	font-size: 12px;
	line-height: 12px;
	color: rgba(0, 0, 0, 0.46);
}

.conatct-me{
	display: flex;
	flex-direction:column;
	background: #F4F4F4;
	padding: 15px;
	border-radius: 6px;
}
.conatct-me img{
	height: 24px;
	margin: 6px 0px;
	border-radius: 6px;
}
.conatct-me a{
	transition: 0.2s;}
.conatct-me a:hover{
	background: rgba(0, 0, 0, 0.1);
	padding-left: 10px;
	border-radius: 6px;

}
.conatct-me p{
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	font-size: 12px;
	line-height: 12px;
	color: rgba(0, 0, 0, 0.46);
	margin-bottom: 12px;
}